*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(90deg,rgba(84, 22, 22, 1) 0%, rgba(130, 30, 43, 1) 35%, rgba(196, 18, 39, 1) 100%);
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px dashed #fff;
    margin: 10px;
    
}

.grid-container{
    height: 100vh;
    width: 100vw;
    background-color: linear-gradient(90deg,rgba(84, 22, 22, 1) 0%, rgba(130, 30, 43, 1) 35%, rgba(196, 18, 39, 1) 100%); 
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    row-gap: 10px;
    column-gap: 10px;
  
    justify-items: center;

    align-items: center;
    
    border: 2px solid;

    justify-content: center;
    align-content: center;
    
    text-align: center;

}

.box{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.box1{
    background-color: #630606;
    grid-column: 1/3;
    width: 400px;
}

.box2{
    background-color: #831212;
    grid-row: 1/3;
    grid-column: 3;
    height: 400px;
}

.box3{
    background-color: #630606;
}

.box4{
    background-color: #831212;
    grid-row: 2/4;
    height: 400px;
    grid-column: 2;
}

.box5{
    background-color: #630606;
}

.box6{
    background-color: #831212;
}
